<div class="center jumbotron">
	<h1>Break the problem down with Taskr</h1>
	<p>Big projects are intimidating until you separate them into small tasks. Taskr can help with that!</p>
	<p><%= link_to "Create an account", signup_path %> to get started </p>
</div>
