<footer class="footer">
	<small>
		This is an Oberlin Winter Term project by Charles McClain, you can find the source code <a href="https://github.com/SeaCDragon/taskr/">here</a>
	</small>
	<ul>
		<li><%= link_to "Help", '#' %></li>
		<li><%= link_to "About", '#' %></li>
	</ul>
</footer>
